<!DOCTYPE html>
<html>
<head>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/toastr/toastr.css">
    <link rel="stylesheet" href="/css/site.css">
    <base href="/"></head><body ng-app="app">
<section class="content"><div ng-view></div></section>
<script type="text/javascript" src="/node_modules/jquery/src/jquery.js"></script>
<script type="text/javascript" src="/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="/node_modules/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/app/app.js"></script>
</body></html>